

{% extends 'base.html' %}
{% block content %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendarioActividades');
    var hola = "{{ eventos_json }}";
    console.log(hola);
    var miVariable = document.getElementById('actscalendario').getAttribute('data-mi-variable');
    var eventos = JSON.parse(calendarEl.getAttribute('data-mi-variable'));
    console.log(miVariable);
    console.log(eventos)
    /*var eventos = JSON.parse(hola);
    console.log(eventos);*/

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events:  miVariable
    });
    calendar.render();
  });

</script>

<h1 id="actscalendario" data-mi-variable="{{ eventos_json }}"></h1>
<div id="calendarioActividades"></div>    
    

{% endblock %}