{% extends 'base.html' %}
{% block content %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendarioActividades');
    var miVariable = document.getElementById('actscalendario').getAttribute('data-mi-variable');
    console.log(miVariable)
    //var jsonString = '[{"title": "Juan", "start": "2024-05-04", "end": "2024-05-04"},{"title": "Pedro", "start": "2024-05-05", "end": "2024-05-07"}]';
  
    var objetoJSON = JSON.parse(miVariable);
    console.log(objetoJSON)
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridDay',
      initialDate: '2024-05-05',
      events:  objetoJSON
     /*[{
        title:'hola',
        start:'2024-05-04T10:00:00'
      },
      {
          title: 'Evento 1',
          start: '2024-05-04T09:00:00' // Fecha y hora de inicio del evento
        },
        {
          title: 'Evento 2',
          start: '2024-05-04T13:00:00' // Fecha y hora de inicio del evento
        },
      ]*/    
    });

    calendar.render();
  });

</script>

<h1 id="actscalendario" data-mi-variable="{{ eventos_json }}"></h1>
<div id="calendarioActividades"></div>
          
{% endblock %}