
{% extends 'base.html' %}
    {% block content %}

    
    <h1>Actividades</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora de Inicio</th>
                <th>Actividad</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td>{{ registro.calendario }}</td>
                <td>{{ registro.hora_inicio }}</td>
                <td>{{ registro.actividad.nombre }}</td>
                <td>{{ registro.duracion_real }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}